.element__like_active {
    width: 22px;
    height: 19px;
    background-image: url("../../../images/like_active.svg");
    position: absolute;
    bottom: 30px;
    right: 20px;
    transition: opacity .3s;
}

.element__like_active:hover {
    opacity: .5;
    cursor: pointer;
}