.element__like {
    width: 22px;
    height: 19px;
    background-image: url("../../../images/like.svg");
    transition: opacity .1s;
}

.element__like:hover {
    opacity: .5;
    cursor: pointer;
}
