.element__like {
    width: 22px;
    height: 19px;
    background-image: url("../../../images/like.svg");
    transition: opacity .1s;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, .0);
}

.element__like:hover {
    opacity: .5;
    cursor: pointer;
}