.element__like {
    width: 22px;
    height: 19px;
    background-image: url("../../../images/like.svg");
    position: absolute;
    bottom: 30px;
    right: 20px;
    transition: opacity .3s;
}

.element__like:hover {
    opacity: .5;
    cursor: pointer;
}