.profile__edit-button {
    min-width: 24px;
    height: 24px;
    border: 1px solid #fff;
    background-color: #000;
    background-image: url("../../../images/editButton.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity .3s;
    box-sizing: border-box;
    outline: none;

}

.profile__edit-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media (max-width: 479px) {
    .profile__edit-button {
        min-width: 18px;
        height: 18px;
      }
}
