.profile__edit-button {
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    background-image: url("../../../images/editButton.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 15px;
    right: 0;
    transition: opacity .3s;
}

.profile__edit-button:hover {
    opacity: .6;
    cursor: pointer;
}