.profile__about {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #fff;
}

@media (max-width: 767px) {
    .profile__about {
        margin-bottom: 36px;
    }
}

@media (max-width: 479px) {
    .profile__about {
        font-size: 14px;
        line-height: 17px;
    }
}