.profile__avatar {
    width: 120px;
    height: 120px;
    margin: 3.75px 26.25px 3.75px 0;
    border-radius: 50%;
    object-fit: cover;
    transition: .2s;
    position: relative;
}

.profile__avatar:hover {
    opacity: .2;
    cursor: pointer;
}

@media (max-width: 767px) {
    .profile__avatar {
        margin: 0;
    }
}