.element__remove{
  width: 18px;
  height: 18px;
  background-image: url("../../../images/Trash.svg");
  position: absolute;
  top: 18px;
  right: 15px;
  outline: none;
  border: none;
  transition: opacity .1s;
  background-color: rgba(0, 0, 0, 0);
}

.element__remove:hover{
  opacity: .6;
  cursor: pointer;
}
